<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"div","anchor":"content","className":"site-content","layout":{"type":"default"}} -->
<div id="content" class="wp-block-group site-content">
	<!-- wp:group {"className":"aa-site-container","layout":{"type":"default"}} -->
	<div class="wp-block-group aa-site-container">
		<!-- wp:group {"tagName":"main","className":"site-main aa-template aa-template-beginners","layout":{"type":"default"}} -->
		<main class="wp-block-group site-main aa-template aa-template-beginners">
			<!-- wp:group {"className":"aa-container aa-beginners-form","layout":{"type":"default"}} -->
			<div class="wp-block-group aa-container aa-beginners-form">
				<!-- wp:group {"className":"aa-page-content","layout":{"type":"default"}} -->
				<div class="wp-block-group aa-page-content">
					<!-- wp:shortcode -->
					[aa_form id="beginners"]
					<!-- /wp:shortcode -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
