<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"div","anchor":"content","className":"site-content","layout":{"type":"default"}} -->
<div id="content" class="wp-block-group site-content">
	<!-- wp:group {"className":"aa-site-container","layout":{"type":"default"}} -->
	<div class="wp-block-group aa-site-container">
		<!-- wp:group {"tagName":"main","className":"site-main aa-page aa-template aa-template-standard","layout":{"type":"default"}} -->
		<main class="wp-block-group site-main aa-page aa-template aa-template-standard">
			<!-- wp:group {"className":"aa-container aa-standard-page","layout":{"type":"default"}} -->
			<div class="wp-block-group aa-container aa-standard-page">
				<!-- wp:group {"tagName":"header","className":"aa-page-hero","layout":{"type":"default"}} -->
				<header class="wp-block-group aa-page-hero">
					<!-- wp:post-title {"level":1} /-->
				</header>
				<!-- /wp:group -->

				<!-- wp:group {"tagName":"section","className":"aa-page-content","layout":{"type":"default"}} -->
				<section class="wp-block-group aa-page-content">
					<!-- wp:post-content /-->
				</section>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
