<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"div","anchor":"content","className":"site-content","layout":{"type":"default"}} -->
<div id="content" class="wp-block-group site-content">
	<!-- wp:group {"tagName":"main","className":"site-main aa-template aa-template-blank","layout":{"type":"default"}} -->
	<main class="wp-block-group site-main aa-template aa-template-blank">
		<!-- wp:post-content /-->
	</main>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
