<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"div","anchor":"content","className":"site-content","layout":{"type":"default"}} -->
<div id="content" class="wp-block-group site-content">
	<!-- wp:group {"className":"aa-site-container","layout":{"type":"default"}} -->
	<div class="wp-block-group aa-site-container">
		<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main aa-page","layout":{"type":"default"}} -->
		<main id="primary" class="wp-block-group site-main aa-page">
			<!-- wp:group {"tagName":"section","className":"aa-page-hero","layout":{"type":"default"}} -->
			<section class="wp-block-group aa-page-hero">
				<!-- wp:group {"className":"aa-container","layout":{"type":"default"}} -->
				<div class="wp-block-group aa-container">
					<!-- wp:post-title {"level":1} /-->
				</div>
				<!-- /wp:group -->
			</section>
			<!-- /wp:group -->

			<!-- wp:group {"tagName":"section","className":"aa-page-content","layout":{"type":"default"}} -->
			<section class="wp-block-group aa-page-content">
				<!-- wp:group {"className":"aa-woocommerce-block-page","layout":{"type":"default"}} -->
				<div class="wp-block-group aa-woocommerce-block-page">
					<!-- wp:post-content /-->
				</div>
				<!-- /wp:group -->
			</section>
			<!-- /wp:group -->
		</main>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
