<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"div","anchor":"content","className":"site-content","layout":{"type":"default"}} -->
<div id="content" class="wp-block-group site-content">
	<!-- wp:group {"className":"aa-site-container","layout":{"type":"default"}} -->
	<div class="wp-block-group aa-site-container">
		<!-- wp:group {"className":"aa-woocommerce-container","layout":{"type":"default"}} -->
		<div class="wp-block-group aa-woocommerce-container">
			<!-- wp:woocommerce/legacy-template {"template":"single-product"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
